# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
*.code-workspace

# Env or credentials
.env
.env.*

# Conda environment
*.yml
!PINN-SAC.yml
!.github/workflows/*.yml

# Logs
*.log

# Test and package build artifacts
.pytest_cache/
.coverage
build/
dist/
*.egg-info/
src/tennetsac/_version.py
